*{
    margin: 0;
    padding: 0;
    line-height: 1.4;
    box-sizing: border-box;
}

.footer-body{
    background-color: black;
    color: white;
    width: 100%;
    height: 45vh;
    display: flex;
    align-items: center;
    justify-content: end;
    flex-direction: column;
    /* background-color: darkolivegreen; */
}

.footer-container{
    width: 90%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    /* background-color: tan; */
}

.footer-logo-head{
    font-size: 30px;
}

.footer-logo-para{
    font-size: 18px;
}

.footer-info{
    width: 25%;
    padding: 10px 20px;
    list-style: none;
    text-align: center;
    /* background-color: teal; */
}

.footer-ul-list{
    list-style: none;
    padding: 8px 0px;
}

.footer-info h3{
    font-size: 22px;
    text-decoration: underline;
    padding: 5px 0px;
}

.footer-input{
    margin-top: 1vh;
    width: 70%;
    height: 6vh;
    border: none;
    outline: none;
    padding-left: 20px;
    border-top-left-radius: 25px;
    border-bottom-left-radius: 25px;
}

.footer-input-btn{
    width: 30%;
    height: 6vh;
    border: none;
    color: white;
    background-color: tomato;
    border-top-right-radius: 25px;
    border-bottom-right-radius: 25px;
    cursor: pointer;
}

.footer-right-reserved{
    margin-bottom: 0px;
    width: 100%;
    padding: 10px 0px;
    font-size: 18px;
    color: white;
    background-color: black;
    text-align: center;
}